// SIDEBAR COLORS
$bg-sidebar: #1E86FF;
$color-on-sidebar: #121212;
// BORDER RIGHT COLOR
$color-border: #dadce0;
// BUTTON STATES COLORS
$color-muted: #52595f;
$color-primary: #15DC9B;
// UTILS 
$space-3: 11rem;
$border-radius-8: 8px;
// TRANSITIONS
$transition-sidebar: all .2s ease-in;
$transition-cubic-bezier: all 0.3s cubic-bezier(.25, .8, .25, 1);